* {
  margin: auto;
  padding: auto;
}
section {
  padding: 0.5in;
}

/* --- Header --- */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 1.5cm;
  margin-bottom: 1rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-container h1 {
  align-self: flex-start;
  order: 0;
  flex-basis: auto;
  margin-top: 5px;
}
.header-container nav {
  align-self: center;
  order: 1;
  flex-basis: auto;
  margin-top: 15px;
}

/*  Navbar  */
nav ol li {
  display: inline;
  position: relative;
  margin: 0 0 0 20px;
}

/* --- Main --- */
.general-container {
  display: flex;
  padding: 1% 1% 1% 1%;
}
/* self-image */
div.picture-img {
  text-align: center;
}

/* relevant info */
.relevant-information h2 {
  text-align: center;
  display: block;
}
.relevant-info-container-r1 {
  display: block;
  margin-top: 2%;
}
.relevant-info-container-r1 div {
  padding: 1em;
  border: solid;
  float: left;
  width: 47%;
  height: 20vh;
}
.relevant-info-container-r2 {
  display: block;
  margin-bottom: 2%;
}
.relevant-info-container-r2 div {
  padding: 1em;
  border: solid;
  float: left;
  width: 47%;
  height: 25vh;
}
.commit-container {
  display: inline-block;
  padding-top: 2%;
  padding-left: 25%;
  padding-right: 20%;
  padding-bottom: 2%;
}

/* website options */
.options > h3 {
  text-align: center;
}
h3 + form[action=""] {
  display: grid;
  grid-template-areas:
    "style"
    "background"
    "fontsize"
    "footer";
  grid-gap: 10px;
  justify-items: center;
}
.select-container {
  grid-area: style;
}
.bg-color-container {
  grid-area: background;
}
.font-size-container {
  grid-area: fontsize;
}
.submit-reset-container {
  grid-area: footer;
}

/* video */
video[autoplay] {
  height: 100%;
  width: 100%;
}

video ~ h3 {
  display: none;
}

/* --- Footer --- */
.footer-container {
  margin-left: 2%;
  margin-right: 0%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
}
